<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - EShop</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
